:root{
    box-sizing: border-box;
}

#game{
    background-color: peachpuff;
    height: 500px;
    display: flex;
    width: 100%;
}

.tower{
    border: 1px dashed red;
    flex-grow: 1;

    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.disc{
    height: 100px;
    border: solid #345;
    border-radius: 30%;

    
}

#disc1 {
    width: 60%;
    background-color: #fff200;
}

#disc2 {
    width: 70%;
    background-color: #32cb03;
}
#disc3 {
    width: 80%;
    background-color: purple;
}

#disc4 {
    width: 90%;
    background-color: darkblue;
}